@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 1rem;
  font-family:  'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  color: #3f454d;
  animation: fadein 3s;
}

img {
  width: 100%;
}

.nav-link-text {
  color: lightgray;
}

.nav-link-text:hover {
  color: #ff6000;
}

.project-box {
  min-height: 600px;
}

.footer {
  bottom: 0;
  width: 100vw;
  background-color: rgb(240, 239, 232);
  font-size: 0.8rem;
}

.footer-brand {
  color: rgb(152, 149, 124);
  font-size: 12px;
}

.footer-link-box {
  text-align: end;
  font-size: 12px;
}

.g-card {
  display: flex;
  justify-content: center;
  position: relative;
}

.img__img {
  border-radius: 10px;
  box-shadow: 0px 0px 3px #ccc;
}

.img-description {
  transition: .2s;
  transform: translateY(1em);
}

.img__wrap {
  position: relative;
  margin: 2rem;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(46, 46, 46, 0.4);
  color: #fff;
  font-size: 1rem;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .5s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__title {
  transition: .5s;
  transform: translateY(1em);
}

.img__sub-title {
  transition: .9s;
  transform: translateY(1em);
}

.img__wrap:hover .img__title {
  transform: translateY(0);
}

.img__wrap:hover .img__sub-title{
  transform: translateY(0);
}

.about-content-box{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 50px;
  padding: 100px;
}

.about-image {
  width: 20%;
  height: 20%;
}

.about-text {
 margin-left: 10px;
 padding-left: 10px;
 width: 50%;
}


.filter-button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem;
}

.filter-button {
  margin: 2px;
  width: 100px;
  border-radius: 4px;
  border-style: none;
  color: #ff6000;
}

.filter-button:hover {
  margin: 2px;
  width: 100px;
  border-radius: 4px;
  border-style: none;
  background-color: #ff6000;
  color: white
}

.header-box{
  margin-top: 6rem;
}

.header-1 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.header-2 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 5rem;
}

.header-title {
  margin-bottom: 2rem;
}

.header-sub-title {
  font-size: 2rem;
  color: lightgray;
}

.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top:4rem;
  margin-bottom: 4rem;
}

.body-img {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.github-button{
  background-color: #ff6000;
  color: white;
  border: solid 1px #ff6000;
  width: 100px;
  margin-top: 1.5rem;
}

.github-button:hover{
  color: #ff6000;
  background-color: white;
  border: solid 1px #ff6000;
  width: 100px;

}